@font-face {
    font-family: EOR;
    src: url(../src/fonts/PPEditorialOld-Regular.otf);
}

@font-face {
    font-family: EOU;
    src: url(../src/fonts/PPEditorialOld-Ultralight.otf);
}

@font-face {
    font-family: NMM;
    src: url(../src/fonts/PPNeueMontrealMono-Book.otf);
}

* {
    text-decoration: none;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--bg);
    cursor: default;
}

:root {
    --bg: #F9FAEE;
    --selector: #DCFF93;
    --text: #393D10;
    --white: #FFFFFF;
    --lightbox: rgba(0, 0, 0, 0.8);
    --fw: 100;
}

::selection {
    color: var(--text);
    background: var(--selector);
}

h1 {
    font-family: EOR;
    font-weight: var(--fw);
    font-size: 40px;
    color: var(--text);
}

h2 {
    font-family: EOU;
    font-weight: var(--fw);
    font-size: 30px;
    color: var(--text) !important;
}

h3 {
    font-family: NMM;
    font-weight: var(--fw);
    font-size: 20px;
    color: var(--text);
}

a {
    text-decoration: none;
    border-bottom: 1px dashed;
    color: var(--text) !important;
}

a:hover {
    text-decoration: none;
    border-bottom: 0px;
    cursor: ne-resize;
}

a:visited {
    color: var(--text) !important;
}

.content {
    padding-top: 10vh;
    text-align: center;
}

.content-container {
    width: 80%;
    margin: 0 auto;
}

.img-display .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.img-display .gallery-item {
    margin: 25px;
}
  
.img-display .gallery-image {
    width: 300px;
    height: auto;
}

.img-display .gallery-image:hover {
    cursor: zoom-in;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--lightbox);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}
  
.lightbox img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 60px;
    font-family: EOR;
    color: var(--white);
    cursor: pointer;
}
  
@media screen and (max-width: 400px) {
    .img-display .gallery-image {
        width: 250px;
    }
    
    .lightbox img {
        max-width: 85%;
        max-height: 80vh;
    }
}

@media screen and (min-width: 401px) and (max-width: 550px) {
    .lightbox img {
        max-width: 80%;
        max-height: 90vh;
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    .lightbox img {
        max-width: 70%;
        max-height: 100vh;
    }
}

@media screen and (min-width: 701px) {
    .lightbox img {
        max-width: 80%;
        max-height: 100vh;
    }
}