@font-face {
    font-family: EOR;
    src: url(/fonts/PPEditorialOld-Regular.otf);
}

@font-face {
    font-family: EOU;
    src: url(/fonts/PPEditorialOld-Ultralight.otf);
}

@font-face {
    font-family: NMM;
    src: url(/fonts/PPNeueMontrealMono-Book.otf);
}

* {
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--background);
    cursor: default;
}

:root {
    --background: #F9FAEE;
    --selector: #DCFF93;
    --text: #393D10;
    --lightbox: rgba(0, 0, 0, 0.9);
    --close: #FFFFFF;
    --close-hover: rgba(240, 240, 240, 0.7);
    --font-regular: EOR;
    --font-light: EOU;
    --font-monospace: NMM;
    --fw: 100;
    --border-bottom: 0;
    --line-height: 1.5;
    --margin: 0 auto;
    --close-transition: 0.3s;
    --close-top: 0px;
    --line-style: 1px dashed;
    --space-xs: 20px;
    --space-sm: 25px;
    --space-md: 30px;
    --space-lg: 40px;
    --space-xl: 60px;
    --space-xxl: 70px;
    --img-width: 300px;
    --padding-top: 10vh;
    --img-max-height-md: 80vh;
    --img-max-height-lg: 90vh;
    --img-max-height-xl: 100vh;
    --max-dimension-md: 50%;
    --max-dimension-lg: 70%;
    --max-dimension-xl: 80%;
    --max-dimension-xxl: 85%;
    --z-index: 9999;
}

::selection {
    color: var(--text);
    background: var(--selector);
}

h1 {
    color: var(--text);
    font-family: var(--font-regular);
    font-weight: var(--fw);
    font-size: var(--space-lg);
}

h2 {
    color: var(--text);
    font-family: var(--font-light);
    font-weight: var(--fw);
    font-size: var(--space-md);
    line-height: var(--line-height);
}

h3 {
    color: var(--text);
    font-family: var(--font-monospace);
    font-weight: var(--fw);
    font-size: var(--space-xs);
}

.mb-md { margin-bottom: var(--space-md); }
.mb-lg { margin-bottom: var(--space-xxl); }

.heading-link {
    color: var(--text);
    border-bottom: var(--line-style);
    text-decoration: none;
}

.heading-link:hover {
    border-bottom: var(--border-bottom);
    text-decoration: none;
    cursor: ne-resize;
}

.content {
    padding-top: var(--padding-top);
    text-align: center;
}

.content-container {
    width: var(--max-dimension-xl);
    margin: var(--margin);
}

.img-display .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.img-display .gallery-item { margin: var(--space-sm); }
  
.img-display .gallery-image {
    width: var(--img-width);
    height: auto;
}

.img-display .gallery-image:hover { cursor: zoom-in; }

.lightbox {
    width: 100%;
    height: 100%;
    top: var(--border-bottom);
    left: var(--border-bottom);
    background-color: var(--lightbox);
    z-index: var(--z-index);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    cursor: zoom-out;
}
  
.lightbox img {
    max-width: var(--max-dimension-md);
    max-height: var(--max-dimension-md);
    object-fit: contain;
}

.close {
    top: var(--close-top);
    right: var(--space-sm);
    color: var(--close);
    font-size: var(--space-xl);
    font-family: EOR;
    position: absolute;
    cursor: pointer;
}

.close:hover {
    color: var(--close-hover);
    transition: var(--close-transition);
}
  
@media screen and (max-width: 400px) {
    .img-display .gallery-image {
        width: 100%;
    }
    
    .lightbox img {
        max-width: var(--max-dimension-xxl);
        max-height: var(--img-max-height-md);
    }
}

@media screen and (min-width: 401px) and (max-width: 550px) {
    .lightbox img {
        max-width: var(--max-dimension-xl);
        max-height: var(--img-max-height-lg);
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    .lightbox img {
        max-width: var(--max-dimension-lg);
        max-height: var(--img-max-height-xl);
    }
}

@media screen and (min-width: 701px) {
    .lightbox img {
        max-width: var(--max-dimension-xl);
        max-height: var(--img-max-height-xl);
    }
}